.display-text {
    font-size: 1.5rem;
    color: #495057;
    line-height: initial;

    i {
        margin-right: .5rem;
    }

    &--large {
        font-size: 3rem;
        font-weight: bold;
    }

    &--success {
        color: #34c38f;
    }

    &--negative {
        color: #f46a6a;
    }
}