.variations-list {
    margin-top: 8px;

    .notice {
        margin-bottom: 16px;
    }

    &__item {
        padding: 8px;
        background: #ffffff;
        border: 0.1rem solid #c4cdd5;
        border: 0.1rem solid var(--p-border, #c4cdd5); 
        box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
        border-radius: 3px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        .variant-item {
            &__title {
                font-weight: 700;
                display: flex;
                align-items: center;

                svg {
                    display: block;
                    fill: var(--p-icon,#c4cdd5);
                    color: transparent;
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }

                img {
                    object-fit: cover;
                    width: 4rem;
                    height: 4rem; 
                    margin-right: 8px;
                    border-radius: 4px;
                }

                span {
                    span {
                        display: block;
                        font-size: 1rem;
                        color: red;
                        line-height: initial;
                        font-weight: 400;
                    }
                }
            }

            &__form {
                padding: 16px 8px;
            }
        }
    }
}