.card {
    background-color: var(--p-surface,#fff);
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
    outline: .1rem solid transparent;
    border-radius: var(--p-border-radius-wide,3px);

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__header {
        padding: 2rem 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 2.4rem;
            margin: 0;
        }

        &__actions {
                
            span {
                color: rgb(0, 111, 187);
                cursor: pointer;

                &:not(.tag) {
                    &:hover {
                        text-decoration: underline;
                    }
                }  
            }
        }
    }

    &__section {
        padding: 2rem;

        &--subdued {
            background-color: var(--p-surface-subdued,#f9fafb);
        }

        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        & + div:not(.card__footer) {
            border-top: .1rem solid var(--p-divider,#dfe3e8);
        }

        &__header {
            padding-bottom: .8rem;

            h4 {
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.6rem;
                text-transform: uppercase;
                margin: 0;
            }
        }

        &--scrollable {
            overflow: auto;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 0 2rem 2rem;

        button {
            margin-left: .8rem;
        }
    }
}