.welcome {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;

    form {
        width: 450px;
        padding: space(2);
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 4px;

        .error-message {
            color: #F44336;
            margin-bottom: space(1);
            margin-top: space(-1);
        }
    }

    .form_link {
        display: flex;
        justify-content: flex-end;
        margin-top: space(1);
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;

        .sep {
            margin: 0 space(.5);
        }
    }
}