// Variables
// ==================

$font: "Montserrat", sans-serif;
$font-alt: "Roboto", sans-serif;

// Font face

%section-title {
  font-size: 52px;
  font-family: $font-alt;
  font-weight: 700;
  line-height: 1.2;
  @include down(675) {
    font-size: 45px;
  }
}

// Pour générer les polices : https://transfonter.org/
