.u-flex {
    display: flex;

    &--sb {
        justify-content: space-between;
    }
    
    &--center-v {
        align-items: center;
    }

    &--center-v-end {
        align-items: flex-end;
    }

    &--center-v-start {
        align-items: flex-start;
    }

    &--center-h {
        justify-content: center;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.u-hidden {
    display: none;
    visibility: hidden;
}

.u-error {
    color: red;
    font-weight: 700;
}