@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
// ==================
:root {
  --black: #151515;
  --grey: #828282;
  --primary-color: #96588a;
  --background: #f7f8fc;
  --light: #fff;
  --space: 8px;
  --sidebar-width: 275px;
  --header-height: 60px;
  --sidebar-menu-color: #828282;
  --listing-background: #fff;
  --listing-border-color: #e2e2e2;
  --input-color: #e0e0e0;
  --p-surface-subdued : #f9fafb;
}

// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";
@import "tools/typography";
@import "tools/animations";
@import "tools/layout";
@import "tools/utilities";

body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  background: var(--background);
  line-height: 1.4;
}

.app {
  display: flex;
  flex-direction: column;
}

// Modules
// ==================
@import "modules/common";
@import "modules/btn";
@import "modules/header";
@import "modules/sidebar_menu";
@import "modules/table";
@import "modules/listing";
@import "modules/form";
@import "modules/page";
@import "modules/timeline";
@import "modules/notice";
@import "modules/modal";
@import "modules/store-switcher";

// Pages
// ==================
@import "pages/welcome"
