.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: -2rem;
  margin-left: -2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__section {
    max-width: calc(100% - 2rem);
    margin-top: 2rem;
    margin-left: 2rem;
    flex: 2 2 48rem;
    min-width: 51%;

    &--secondary {
      flex: 1 1 24rem;
      min-width: 0;
    }

    &--oneHalf {
      flex: 1 1 45rem;
      min-width: 0;
    }

    &--oneThird {
      flex: 1 1 24rem;
      min-width: 0;
    }
  }
}
