.data-table {
    width: 100%;
    border-spacing: 0px;

    thead {
        th {
            font-weight: bold;
        }
    }

    &__cell {
        text-align: left;
        vertical-align: top;
        font-weight: 400;
        color: var(--p-text,#212b36);
        border-bottom: 0.1rem solid var(--p-border,#c4cdd5);
        border-top: 0px;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 0.1rem solid var(--p-border-subdued,#f4f6f8);
        white-space: nowrap;
        text-align: left;
        transition: background-color 0.2s ease-in-out 0s;

        &--numeric {
            text-align: right;
        }


        &--tag {
            span {
                border-radius: 12px;
                display: t;
                padding: 4px 8px;
                font-size: 1.5rem;
                line-height: initial;
            }
        }
    }
}