.skeleton-display-text {
    animation: fadeInFromNone .8s linear infinite alternate;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
    position: relative;
    width: 30%;
    height: 1.5rem;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &--large {
        width: 50%;
        height: 2.5rem;
    }

    &--mini {
        width: 30%;
        height: .75rem;
    }

    &--fullw {
        width: 100%;
        height: 1rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: #dfe3e8;
        border-radius: 3px;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}