.btn {
  position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0;
    padding: .7rem 1.6rem;
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: .1rem solid var(--p-border,#c4cdd5);
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: var(--p-override-none,.2s);
    transition-timing-function: var(--p-override-none,cubic-bezier(.64,0,.35,1));
    -webkit-tap-highlight-color: transparent;
    outline: none;

  &--primary {
    background: linear-gradient(180deg,#007cba,#007cba);
    border-color: #007cba;
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    color: #fff;
  }

  &--secondary {
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: .1rem solid var(--p-border,#c4cdd5);
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  }

  &--danger {
    background: linear-gradient(180deg,#e6391a,#d53417);
    border-color: #b02b13;
    box-shadow: inset 0 1px 0 0 #e73d1f, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    color: #fff;
  }

  &--outline {
    font-weight: 400;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #989898;
    font-weight: 500;
    min-height: initial;
    min-width: initial;

    &:not(:last-child) {
      margin-right: space(1.5);
    }
  }
}
