.row {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 0 space(2) space(2);
  }
}

.box {
  background: #fff;
  border-radius: 10px;
  padding: space(2) space(3);

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);

    span {
      display: flex;
      align-items: center;

      img {
        margin-left: space(1);
      }
    }
  }

  &--3 {
    width: calc(33.333% - 32px);

    @include down(1280px) {
      width: 100%;
    }
  }

  &--6 {
    width: calc(50% - 32px);

    @include down(1280px) {
      width: 100%;
    }
  }
}

.tag {
  border-radius: 30px;
  padding: space(0.5) space(2);
  border: 1px solid;
  font-weight: 700;
  text-transform: capitalize;

  &--primary {
    background-color: var(--primary-color);
  }
  
}

.app-icon {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: auto;
  margin: 0 0 0 -0.8rem;

  svg {
    fill: #637381;
  }
}

.notice-save {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #955889;
    z-index: 2040;
}

.tag {
   display: inline-flex;
    max-width: 100%;
    align-items: center;
    min-height: 2.8rem;
    padding: 0 .8rem;
    background-color: #dfe3e8;
    border-radius: 3px;
    color: #212b36;
    margin-left: space(1);
    margin-bottom: space(1);
    border: none;
    position: relative;

    &--info {
      background: #03A9F4;
      color: #fff !important;
    }

    button {
      position: absolute;
      right: 0;
      width: 30px;
      height: 100%;
      background-color: transparent;
      border: 0;
      color: #637381;
      cursor: pointer;

      &:hover {
        background-color: darken($color: #dfe3e8, $amount: 10);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
}

.product-images {
    display: grid !important;
    grid-template-columns: repeat(5,1fr);
    grid-gap: .8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    .image {
      cursor: pointer;
      position: relative;

      &__overlay {
        position: absolute;
        z-index: 11;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(180deg,rgba(33,43,54,.55),hsla(0,0%,100%,0));
        border-radius: 5px;
        cursor: pointer;
      }

      &:hover {
        .image__overlay {
          opacity: 1;
        }
      }
      
      span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        border: .1rem solid var(--p-border-subdued,#dfe3e8);
        background: #f4f6f8;
        border-radius: 6px;
      }

      &--featured {
        grid-column: 1/span 2;
        grid-row: 1/span 2;
      }
  }
}