.form-element {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:not(:last-child) {
    margin-bottom: space(2);
  }

  label {
    margin-bottom: space(1);
    font-weight: 500;
    letter-spacing: 0.3;
  }

  &--input {
    input {
      &:not(.hidden) {
        padding: space(1.5);
        font-weight: 500;
        border: 2px solid var(--input-color);
        border-radius: 4px;
        outline: none;
  
        &:focus {
          border: 2px solid var(--primary-color);
        }
      }
      
    }
  }

  &--select {
    position: relative;

    select{
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      text-transform: none;
      letter-spacing: normal;
      position: absolute;
      text-rendering: auto;
      top: 0;
      left: 0;
      z-index: 30;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: .001;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .select-content {
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
      position: relative;
      z-index: 20;
      display: flex;
      align-items: center;
      width: 100%;
      padding: space(1.5);

      &__content {
        display: flex;
        justify-content: space-between;
        z-index: 1040;
        width: 100%;
        align-items: center;

        span {
          color: #000;
          font-weight: 500;
        }

        i {
          font-size: 2rem;
          color: #e0e0e0;
        }
      }

      .select-backdrop {
        background-color: #c4cdd5;
        border: 2px solid var(--input-color);
        box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22,29,37,.05);
        border-radius: 3px;
        transition-property: box-shadow,background-color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.64,0,.35,1);
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: (1.5);
  
        
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          background: linear-gradient(180deg,#fff,#f9fafb);
          border-radius: 2px;
        }
      }
    }

    
  }

}

.checkbox {
  display: flex;
  align-items: center;

  &__control {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      background-color: #e4e4e4;
      border: .1rem solid transparent;
      box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22,29,37,.05);
      border-radius: 50%;
      transition-property: box-shadow,background-color;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(.64,0,.35,1);
      width: 16px;
      height: 16px;
      margin-right: space(1);
      border: 2px solid #b7b7b7;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(50% - 4px);
      background-color: var(--primary-color);
      width: 8px;
      height: 8px;
      transform: translate(-50%,-50%) scale(.5);
      transition: all 350ms ease-in-out;
      visibility: hidden;
      opacity: 0;
      border-radius: 3px;

    }

    &--checked {
      &::after {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
      }
    }

    input {
      position: absolute!important;
      top: 0;
      clip: rect(1px,1px,1px,1px)!important;
      overflow: hidden!important;
      height: 1px!important;
      width: 1px!important;
      padding: 0!important;
      border: 0!important;
      display: none;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: none;
    letter-spacing: normal;
    -webkit-tap-highlight-color: transparent;

  }
}

.form-layout {

  &__grouped {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;

    & > div:not(:last-child) {
      padding-right: space(3);

      @include down(1024px) {
        padding-right: 0;
        flex: 1 1 100%;
      }
    }
  }
}

.form-group {
  margin-bottom: space(1.5);
  
  input {
    &:not(.hidden) {
      padding: space(1.5);
      font-weight: 500;
      border: 2px solid var(--input-color);
      border-radius: 4px;
      outline: none;
      transition: border 350ms ease-in-out;

      &:focus {
        border: 2px solid var(--primary-color);
      }
    }
  }

  &.invalid {
    input {
      border-color: #F44336;
    }
  }

}