.content-right {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);

  @include down(1024px) {
    width: 100%;
    margin-left: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1040;
  width: 100%;
  background-color: var( --primary-color);
  color: var(--light);

  &.notice {
    position: fixed;
    z-index: 2040;
    left: 0;
    background-color: #fff;
    color: #000;
  }

  &__logo {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: var(--sidebar-width);

    h1 {
      font-weight: 700;
      font-size: 30px;
    }
  }

  &__infos {
    padding-left: space(6);
    padding-right: space(6);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.4rem;

    button {
      &:not(:last-child) {
          margin-right: space(1);
      }
  }
  }

  &__search {
    input {
      appearance: none;
      border: 1px solid #dbe1f7;
      padding: 16px;
      background: #f7f8fc;
      border-radius: 32px;
      width: 600px;
      font-weight: 700;
      outline: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  .notification {
    position: relative;
    margin-top: 12px;
    cursor: pointer;

    i {
      font-size: 22px;
    }

    &__badge {
      display: flex;
      position: absolute;
      top: -15px;
      right: -10px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      padding: 2px 4px 2px;
      background-color: #f1646c;
      color: #fff;
      line-height: 10px;
      font-size: 10px;
      font-weight: 700;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-header {
  padding: 0 0 space(4) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: rem(32);
    font-weight: 500;
  }
}
