.list-filters {
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: space(3);
  padding-left: space(3);
  padding-right: space(3);
  padding-bottom: space(1);
  display: flex;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;

  > div {
    flex: 1;
  }
}
