.backdrop {
    position: fixed;
    z-index: 1049;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #35353566;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    height: 100%;
  }
  
  .modal {
    position: fixed;
    z-index: 1049;
    width: 500px;
    max-height: 70vh;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 6px;

    &__header {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 1.6rem 2rem;
        border-bottom: var(--p-thin-border-subdued,.1rem solid var(--p-border-subdued,#dfe3e8));
    }

    &__content {
      padding: 24px;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        min-height: 6.4rem;
        padding: 1.6rem;
        border-top: .1rem solid var(--p-divider,#dfe3e8);

        > button {
            &:not(:last-child) {
                margin-right: space(1.5);
            }
        }

    }

  }