.notice {
    padding: 12px;
    background: #fff;
    border-left: 4px solid #dfe3e7;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(217,217,217,1);
    box-shadow: 0px 0px 15px 0px rgba(217,217,217,1);
    
    &--warning {
        border-left: 4px solid #F44336;
    }
}