.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: space(2);

  &__breadcrumb {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;

    a {
      display: flex;
      align-items: center;
      color: #637381;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: space(3);

    h1 {
      font-size: 2em;
      font-weight: 500;
      margin-bottom: space(2);
    }
  }
}
