.sidebar-menu {
  background: #fff;
  min-height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: var(--header-height);
  left: 0;

  @include down(1024px) {
    display: none;
  }

  &__account {
    .my-account-link {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 space(3);
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: var(--sidebar-menu-color);
      position: relative;
      border-top: 1px solid #e6e6e6;

      img {
        margin-right: space(2);
      }
    }

    .current-store {
      display: flex;
      padding: space(3);
      align-items: flex-start;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: var(--black);
      position: relative;
      flex-direction: column;

      span {
        font-weight: 300;
        color: var(--grey);
        display: block;
        font-size: 13px;
      }

      a {
        color: var(--primary-color);
        font-size: 12px;
        margin-top: space(0.5);
      }
    }
  }

  &__links {
    margin-top: space(2);

    .links {
      li {
        a {
          height: 60px;
          display: flex;
          align-items: center;
          padding: 0 space(3);
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: var(--sidebar-menu-color);
          position: relative;

          &.links--active {
            color: var(--primary-color);
            &:before {
              content: "";
              position: absolute;
              height: 100%;
              width: 5px;
              background-color: var(--primary-color);
              left: 0;
              top: 0;
            }

            & + .links__sub {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: space(-1);

              li {
                margin-bottom: space(1.5);

                a {
                  height: initial;
                  padding: 0 0 0 space(5);
                  font-weight: 400;
                }
              }
            }
          }
        }

        i {
          margin-right: space(2);
          font-size: 1.75rem;
        }
      }

      &__sub {
        display: none;
        align-items: center;
        padding: 0 space(3);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--sidebar-menu-color);
        position: relative;
      }
    }
  }
}
