.store-switch {
    padding: space(1);
    font-size: rem(13);
    font-weight: 600;
    text-transform: uppercase;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: space(.5);
    border-radius: 4px;
    cursor: pointer;

    i {
        color: inherit;
        padding-right: space(.5);
        font-size: rem(20);
    }

    &:hover {
        background-color: darken(whitesmoke, 3);
    }
}