.listing-table {
  width: 100%;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  &__header {
    background: #fff;

    th {
      padding: space(2) space(3);
      text-align: left;
      border-bottom: 1px solid var(--listing-border-color);
    }
  }

  &__content {
    tr {
      background: #fff;

      &:hover {
        background-color: #f7f7f7;
      }

      td {
        padding: space(3);
        text-align: left;
        border-bottom: 1px solid var(--listing-border-color);
        vertical-align: middle;
      }
    }

    &__item {
      display: grid;
      width: 100%;
      display: grid;
      align-items: center;
      grid-gap: 0 0.8rem;
      grid-template-columns: minmax(15%, 1fr) 25% 25% 15%;
      grid-template-areas: "product inventory type vendor";
      padding: space(2);
      border-bottom: 1px solid var(--listing-border-color);
    }

    &__line {
      display: flex;
      align-items: center;
      img {
        margin-right: space(2);
        border-radius: 4px;
        max-width: 60px;
        object-fit: cover;
        border: 1px solid var(--listing-border-color);
      }

      a {
        color: #000;
        font-weight: 700;
        transition: all 250ms ease-in-out;

        &:hover {
          color: var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }
  }
}
