.timeline {
    padding: 0px 0px 0px space(1);
    max-height: 320px;
    overflow: auto;

    &__item {
        position: relative;
        padding-left: 16px;
        border-left: 2px solid #f5f6f8;
       

        &:not(:last-child) {
            padding-bottom: 27px;
        }

        &__date {
            color: #74788d;
            font-size: 1rem;
        }

        &__text{
            color: #000;
            font-size: 1.25rem;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid var(--primary-color);
            background-color: #fff;
        }
    }
}